.background-img {
    width: 100%;
    height: 460px;
    background-color: #FFA48C;
    /* position: absolute; */
    top: 0px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    transition: 0.2s;
}

.background-img:hover {
    background-color: #cf907e;
}

.profile-wrapper {
    width: 950px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 230px;
    margin-left: auto;
    margin-right: auto;
}

.persona-profile {
    width: 280px;
    height: 300px;
    background-color: white;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#active-persona-profile {
    width: 300px;
    height: 422px;
}

.add-persona-btn {
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #FE6740;
    font-size: 19px;
    transition: 0.2s;
}

.add-persona-btn:hover {
    background-color: #FE6740;
    color: white;
}

.Idaition-container {
    background-color: #f751db91;
    width: 100%;
    height: 139.87px;
    margin-top: 197px;
}

.Pinbox-container {
    width: 1600px;
    margin-top: 77.13px;
}