.noAllPin-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 117px;
    width: 100%;
}

.noAllPin-Container .logo {

}

.noAllPin-Container .description {
    font-family: Pretendard;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 38px;
    color: #D7D2C8;
}

.noAllPin-Container .btn {
    padding: 8px 20px;
    width: 400px;
    height: 50px;
    background: #FE3400;
    border-radius: 100px;
    border: #FE3400;
    font-family: Pretendard;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    cursor: pointer;
}