.PinTool-container {
    display: flex;
    justify-content: space-between;
    width: 1470px;
}

.LeftTool {
    display: flex;
    width: 344px;
}

.RightTool {
    position: relative;
    display: flex;
    margin-left: 814px;
    width: 505px;
}

.all-pin {
    width: 119px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 26px;
    color: #FE3400;
    cursor: pointer;
}

.pin-board {
    width: 120px;
    margin-left: 48px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 26px;
    color: #BEBBB9;
    cursor: pointer;
}

.pin-search-input {
    width: 398px;
    height: 47px;
    padding-left: 0px;
    border: 0;
    border-bottom: 2px solid #FE6740;
    font-size: 18px;
}

.pin-search-input::placeholder {
    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #BEBBB9;
}

.pin-search-input:focus {
    outline: none;
}

.pin-searchImg-container {
    position: absolute;
    left: 363px;
    top: 5px;
}

.pin-search { 
    cursor: pointer;
}

.pin-add {
    position: relative;
    margin-left: 20px;
    cursor: pointer;
}

.allPin-content .pin-item{
    list-style: none;
}

.pinBoard-content .pinBoard {
    list-style: none;
}

.allPin-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap : wrap;
    margin-left: 8%;
    margin-right: auto;
    margin-top: 49px;
    width: 1800px;
}

.pin-item {
    margin-right: 35.63px;
    margin-bottom: 48.75px;
}

.pin-img {
    position: relative;
    width: 374px;
    height: 210.04px;
    border-radius: 10px;
}

.pin-edit-del {
    position: absolute;
    display: flex;
    justify-content: right;
    /* top: 1072px; */
    width: 360.02px;
    /* height: 200px; */
}

.Mypin-edit {
    position: absolute;
    top: -190.07px;
    left: 313px;
}

.pin-del {
    position: absolute;
    top: -193px;
}

.pin-tag-container {
    position: absolute;
    width: 374px;
    display: flex;
    justify-content: center;
}

.pin-board-container {
    position: absolute;
    width: 374px;
    display: flex;
    justify-content: center;
}

.Mypin-tag {
    margin-top: -128.07px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
}

.Mypin-board {
    position: absolute;
    top: -128.82px;
    margin-top: 33px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FE6740;
}

.noclick {
    display: none;
}

.clickPin {
    display: inline;
}

.pin-title {
    display: flex;
    height: 18.75px;
    margin-top: 0px;
}

.pin-name {
    width: 291.45px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #352C23;
}

.pin-description {
    margin-top: 16px;
}

.pin-site {
    margin-left: 9.32px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #352C23;
}

/* 핀보드 */

.pinBoard-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap : wrap;
    margin-left: 8%;
    margin-right: auto;
    margin-top: 49px;
    width: 1800px;
    height: auto;
    /* white-space: normal; */
}

.pinBoard {
    margin-right: 34px;
    margin-bottom: 30px;
}

.pinBoard-img {
    position: relative;
    width: 381.47px;
    height: 217.98px;
    opacity: 0.5;
    border-radius: 15px;
}

.pinBoard-title {
    position: absolute;
}

.pinBoard-name {
    position: absolute;
    width: 375px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #1E140A;
    margin-top: 0px;
    top: -134px;
}

.pinBoard-count {
    position: absolute;
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #352C23;
    top: -110.02px;
}

.pin-search-input {
    display: inline;
}

.noPinBoard {
    display: none;
}

.noPinItem {
    display: none;
}

.pinItem-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap : wrap;
    margin-left: 8%;
    margin-right: auto;
    margin-top: 49px;
    width: 1800px;
    list-style: none;
}

.pin-board-name {
    width: auto;
    height: 26px;
    margin-left: 10px;
    padding: 5px 15px;
    background: #FE3400;
    border-radius: 16px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.noClickPinBoard {
    display: none;
}

.pin-edit-del2 {
    position: absolute;
    display: flex;
    justify-content: right;
    width: 360.02px;
}

.Mypin-edit2 {
    position: absolute;
    top: -193.07px;
    left: 313px;
}

.pin-del2 {
    position: absolute;
    top: -196px;
}