.modal-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 82px;
    left: 0px;
    background: rgba(190, 190, 190, 0.5);
    backdrop-filter: blur(17px);
    display: flex;
    justify-content: center;
}

.modal-wrapper {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 15px;
    display: flex;
    align-items: center;
    position: fixed;
    top: calc(50% - 300px);
    flex-direction: column;
}

.modal-header {
    width: 100%;
    height: 50px;
    color: #BEBBB9;
}

.close-btn {
    float: right;
    font-size: 40px;
    cursor: pointer;
}

.modal-content {
    width: 400px;
    min-height: 250px;
    display: contents;
}

.modal-title {
    font-weight: 700;
    font-size: 38px;
    line-height: 26px;
    text-align: center;
    margin: 20px 0px;
    color: #FE3400;
}

.modal-sub-title {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #FFA48C;
}

.image {
    width: 100%;
    height: 200px; 
    line-height: 200px;  
    color: #BEBBB9;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.modal-footer {
    width: 100%;
    margin-bottom: 54px;
    display: flex;
    justify-content: center;
}

.modal-description {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    /*line-height: 13px;*/
    text-align: center;
    color: #BEBBB9;
}

.completed-circle {
    width: 50px;
    height: 50px;
    line-height: 60px;
    font-size: 40px;
    text-align: center;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px; 
    color: white;
    background-color: #FE6740;
}

.modal-btn {
    width: 400px;
    height: 50px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 100px;
    border: none;
    margin-bottom: 15px;
    cursor: pointer;
    font-family: pretendard;
    font-weight: 500;
    background-color: #FE3400;
    transition: 0.2s;
    margin-top: 36px;
}

.modal-btn:hover {
    background-color: #e2360b;
}