.lounge-room {
    padding-top: 82px;
    width: 100%;
    height: calc(100vh - 82px);
    display: flex;
    background: #F3F3F3;
    overflow: hidden;
}

.lounge-room .left-content {
    position: fixed;
    z-index: 10;
    width: 290px;
    height: 100%;
    background: #E7E6E5;
}

.lounge-room .right-content {
    width: calc(100% - 290px - 16px); /* left-contet width와 margin left, right을 빼줌 */
    height: calc(100% - 16px);
    margin: 8px;
    border-radius: 10px;
    background-color: white;
}

.chatting-wrapper {
    height: 731px;
    overflow-y: auto;
}
/* .lounge-start {
    position: fixed;
    left: 0;
    top: 0;
} */

.lounge-room .right-content {

    margin-left: 298px;
}

.lounge-room .to-ready {
    position: absolute;
    top: 400px;
    left: 50%;
    text-align: center;
    border-radius: 10px;
    filter: drop-shadow(8px 8px 40px rgba(0, 0, 0, 0.15));
    font-size: 15px;
    font-weight: 500;
    background: white;
    padding: 40px 30px;
    z-index: 1;
    animation: showSmoothly 0.7s;
}

.lounge-room .to-ready > .title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
}

.lounge-room .to-ready > .ready {
    color: #FE6740;
    margin-top: 10px;
}