.LNB-container {
    margin-left: 168px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #807A74;
    width: 388px;
}

li {
    margin-bottom: 24px;
}