.LNB-container {
    margin-left: 8.75%;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #807A74;
    /* width: 160px; */
    /* width: 8.3%; */
    width: 232px;
}

.category {
    list-style: none;
    margin-bottom: 24px;
    width: 232px;
    cursor: pointer;
}

.clicked {
    color:  #1E140A;
}