.Insight-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.Search-container {
    display: flex;
    justify-content: flex-end;
    height: 48px;
    /* width: 1700px; */
    width: 70%;
    /* padding-left: 392px; */
    margin-top: 216px;
    margin-left: auto;
    margin-right: auto;
    min-width: 1360px;
}

.search {
    position: relative;
    /* width: 1151px; */
    width: 60%;
    height: 48px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom: 2px  solid #FE6740;
    padding-left: 16px;
    min-width: 900px;
}

.search:focus {
    outline: none;
}

.search::placeholder {
    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #BEBBB9;
}

.searchIcn-container {
    position: absolute;
}

.search-icn {
    position: absolute;
    margin-left: -260px;
    cursor: pointer;
}

.search-btn {
    width: 145px;
    height: 37px;
    border: 1px solid #FE6740;
    box-sizing: border-box;
    border-radius: 21.5px;
    background-color: white;
    margin-left: 64px;
    margin-top: 5.5px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #FE3400;
    cursor: pointer;
}

.Content-container {
    display: flex;
    flex-direction: row;
    margin-top: 96px;
    
    /* width: 1920px; */
    width: 100%;
}

.img-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    /* margin-left: 0px; */
    /* width: 35%; */
    width: 100%;
    padding-left: 58px;
}

.thumbnail-box {
    /* width: 672.49px; */
    width: 547px;
    height: 305px;

    background: #C4C4C4;
    border-radius: 10px;
    object-fit: cover;
}

.img-ul {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    flex-grow: 1;
}

.img-ul .img-li {
    list-style: none;
    /* float: left; */
    /* margin-right: -105px; */
    margin-bottom: 180px;
    margin-top: -25px;
    width: 38%;
    /* margin-right: -30px; */
    margin-right: 130px;
}

.insight-box {
    position: relative;
    cursor: pointer;
    margin-bottom: -100px;
    width: 35%;
    height: 389px;
    margin-right: 0px;
    margin-left: 0px;
}

.pin-box {
    position: absolute;
    display: none;
    background-color: transparent;
    top: 24px;
    left: 260%;
}

.pin-up {
    display: inline;
    cursor: pointer;
}

.insight-box .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* width: 586px; */
    width: 56%;
    height: 21.27px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #352C23;
    margin-top: 25px;
    margin-right: 0px;
    margin-bottom: 18px;
    margin-left: 0px;
    width: 200%;
}

.site-container {
    position: absolute;
    top: 323px;
    left: 600px;
    width: 70px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #BEBBB9;
    margin-left: -130px;
}

.tag {
    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #BEBBB9;
    margin-right: 15.95px;
    margin-top: 0px;
}

.Insight-container > .Content-container > .img-container > .img-ul > .img-li > .insight-box > .site-container > .pin-circle {
    float: right;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-bottom: 8px;
}

.Insight-container > .Content-container > .img-container > .img-ul > .img-li > .insight-box > .site-container > .siteName {
    font-size: 18px;
}