.GNB-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* padding: 0px 64px 0px 65px; */
    height: 82px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 50;
}

.gnb-flex-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    flex-grow: 1;
}

.GNB-container .Logo-container {
    position: absolute;
    /* top: 0%; */
    left: 3%;
    display: flex;
    align-items: center;
    margin-top: 80px;
    font-family: Noto Serif;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    color: #FE3400;
    margin-left: 0px;
    width: 87px;
    
}

.Logo-container .logo {
    margin-bottom: 85px;
}

.GNB-container .Btn-container {
    /* position: absolute;
    left: calc(50% - 145px); */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* margin-left: 400px; */
    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #807A74;
}

.btn-li {
    list-style: none;
    /* margin-left: 53px; */
}

.GNB-container .insight-btn {
    padding-left: 53px;
    padding-right: 53px;
}

.Profile-container {
    position: absolute;
    /* left: 75%; */
    left: calc(97% - 265px);
    /* right: calc(1% + 265px); */
    right: 0%;
    display: flex;
    /* margin-left: 280px; */
    /* width: auto; */
    flex-grow: 1;
}

.lounge-btn {
    color: #807A74;
}

.insight-btn {
    color: #807A74;
}

.mypage-btn {
    color: #807A74;
}

.openlounge-btn {
    width: 154px;
    height: 36px;
    margin-top: 26px;
    margin-bottom: 20px;
    border: 1px solid #FE3400;
    box-sizing: border-box;
    border-radius: 18px;
    background-color: white;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FE3400;
    cursor: pointer;
    transition: 0.2s;
}

.openlounge-btn:hover {
    background: #FE3400;
    color: white;
}  

.bell {
    margin-left: 25px;
    margin-right: 25px;
}

#selected-menu {
    color: rgb(53, 44, 35);
}