.GNB-container .profile-persona {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-top: 20px;
    object-fit: cover;
    cursor: pointer;
}

.gnb-popup {
    width: 320px;
    padding: 22px;
    position: absolute;
    top: 80px;
    right: 70px;
    background-color: white;
    border-radius: 18px;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.1));
    animation: 0.2s showGNBPopup;
}

.hide-gnbpopup {
    animation: 0.2s hideGNBPopup;
    animation-fill-mode: forwards;
}

@keyframes showGNBPopup {
    0% {overflow: hidden; opacity: 0; transform: translateY(-20px);}
}

@keyframes hideGNBPopup {
    100% {width: 0px; max-height: 0px; overflow: hidden; opacity: 0; border-radius: 0 0 10px 0; transform: translateY(-20px);}
    50% {opacity: 0;}
}

.gnb-popup .header,
.gnb-popup .content {
    width: 100%;
    text-align: left;
}

.gnb-popup .header #close-popup {
    color: #FE3400;
    cursor: pointer;
}

.gnb-popup .persona-preview {
    display: flex;
    align-items: center;
    padding: 7px;
    border-radius: 12px;
    transition: background-color 0.2s;
}

.persona-preview .persona-image {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 10px;
    object-fit: cover;
}

.gnb-popup .active-persona {
    color: #FE3400;
}

.active-persona #close-popup {
    position: absolute;
    right: 30px;
    cursor: pointer;
}

.gnb-popup .see-more {
    overflow: hidden;
    transition: 0.2s;
}

.see-more .persona-preview:hover {
    background-color: #E7E6E5;
    cursor: pointer;
}

.persona-preview .persona-name {
    font-weight: 700;
}

.gnb-popup .content-wrapper {
    margin-top: 15px;
    margin-bottom: 15px;
}

.gnb-popup .content-title {
    margin-bottom: 15px;
}

.gnb-popup .email {
    color: #807A74;
}

.gnb-popup .logout {
    color: #D7D2C8;
    cursor: pointer;
    transition: 0.2s;
}

.gnb-popup .logout:hover{
    color: #FE6740;
}