.PinEditModal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background: transparent;
}

.PinEditModal.openPinEditModal {
    display: flex;
    align-items: center;
    overflow: hidden;
    animation: modal-show .3s;
}

@keyframes modal-show {
    from {
        opacity: 0;
        margin-top: -50px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}